<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        
        <!-- IMPORTANT!
        Don't paste your javascript/stylesheet in here, if it's only relevant for your page.
        Use play's "moreScript" or "moreStyles" functionality, then.
        -->
        
        <!-- CSS/Less -->
        #{get 'moreStyles' /}
        <link rel="stylesheet/less" type="text/css" href="@{'/public/stylesheets/navigationBar.less'}">
        <link rel="stylesheet/less" type="text/css" href="@{'/public/stylesheets/template.less'}">
		#{if userToShow}
			<link rel="stylesheet/less" type="text/css" href="@{'/public/stylesheets/leftVerticalBar.less'}">
		#{/if}
		        
        <!-- Javascript -->
        #{get 'moreScripts' /}
        <script src="@{'/public/javascripts/jquery-1.10.1.min.js'}" type="text/javascript"></script>
        <script src="@{'/public/javascripts/jquery-ui-1.10.3.custom.min.js'}" type="text/javascript"></script>
        <script src="@{'/public/javascripts/less-1.3.3.min.js'}" type="text/javascript"></script>
        <script src="@{'/public/javascripts/navigationBar.js'}" type="text/javascript"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAR5BqFaXKB9kYMEwy4xzFvuyMEX_P6IPU&sensor=false&language=en"></script>
        
    </head>
    <body>
    <div>
    </div>	
    	<div id="template_top">
    		<div id="template_content">
    			<div id="template_navigation_bar">
    				<div id="template_logo">
    					<a href="/">
    						<img src="/public/images/tourFootprint_logo.png" />
    					</a>
    				</div>
    				
    				#{if ( loginError == "true" ) }
    					#{loginError /}
    				#{/if}
    				#{if ( passError == "true" ) }
    					#{passError /}
    				#{/if}
					#{if ( userExists == "true" ) }
						#{userExists /}
					#{/if}
    				#{if ( emailError == "true" ) }
						#{emailError /}
					#{/if}
    				#{if user}
    					#{navigationBarAuth /}
    				#{/if}
					#{else}
						#{navigationBarNotAuth /}
					#{/else}
    			</div>
    			
    			#{if userToShow}
    				#{set user : user /}
    				#{leftVerticalBar /}
    			#{/if}

    			<div id="main_dolayout_div">
    				#{doLayout /}
    			</div>
    		</div>
    		<div style="clear:both; height: 10px;"></div>
    		<div id="template_push">
    		</div>
    	</div>
    	<div id="template_bottom">
    		<div id="template_footer">
	    		<p>
		    		Copyright © 2013 Tour Footprint&nbsp;&nbsp;&nbsp;
		    		<a href="/about_us">About Us</a>&nbsp;&nbsp;&nbsp;
		    		<a href="/privacy_policy">Privacy Policy</a>&nbsp;&nbsp;&nbsp;
		    		<a href="/tos">Terms of Service</a>
	    		</p>
    		</div>
    	</div>
	    <script type="text/javascript">
	      (function() {
	       var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	       po.src = 'https://apis.google.com/js/client:plusone.js';
	       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	     })();
	    </script>  	
    </body>
</html>
