// Import default values
@import "template.less";

.bottom_box_mixin() {
	border: @default_border_width @default_border_style @default_border_color;
	float: left;
	height: 300px;
	width: 466px;
	
	img {
		height: 300px;
		width: 466px;
	}
}

.bottom_right_box_mixin() {
	margin-left: 10px;
}

#posts {
	margin: 10px 0 0 0;
}