<div id="slider_container">
	<div id="slider_content" class="slider_content">
		<img src="/public/images/slideshow/screenshot01.png"
			alt="Demo2 first" title="Demo2 first" />
		<div class="slider_description">
			Golem: <strong> Huawei Ascend P6 is nice and thin </strong>
		</div>
		<img src="/public/images/slideshow/screenshot02.png"
			alt="Demo2 second" title="Demo2 second" />
		<div class="slider_description">
			Heise: <strong> Thin, thiner, thinest </strong>
		</div>
		<img src="/public/images/slideshow/screenshot03.png"
			alt="Demo2 third" title="Demo2 third" />
		<div class="slider_description">
			Sueddeutsche: <strong> Obama and the Germans </strong>
		</div>
		<img src="/public/images/slideshow/screenshot04.png"
			alt="Demo2 fourth" title="Demo2 fourth" />
		<div class="slider_description">
			Reuters: <strong> G8 meeting </strong>
		</div>
		<img src="/public/images/slideshow/screenshot05.png"
			alt="Demo2 fourth" title="Demo2 fifth" />
		<div class="slider_description">
			Faz: <strong> Nice picture for Mrs. Merkel </strong>
		</div>
	</div>
	<div id="slider_navigation"></div>
</div>
<div id="search_container">
	#{form @SearchResults.page(), id:'seach_form'}
		<input id="search_field" name="searchString" placeholder="Type in your search terms!" type="text"> 
		<input id="search_button" type="button" value="Search">
	#{/form}
</div>
#{if ( mostLikedPost != null && recentlyFinishedPost != null ) }
<div id="posts">
	<div id="liked">
		<div class="infoBox">
			<p>Most liked: ${mostLikedPost.title.raw()}</p>
		</div>
		<a href="@{ViewPost.page(mostLikedPost.getId())}"> <img
			src="@{MainPage.getRandomPicture(mostLikedPost.getId())}"
			alt="most liked" />
		</a>
	</div>
	<div id="newest">
		<div class="infoBox">
			<p>Recently finished: ${recentlyFinishedPost.title.raw()}</p>
		</div>
		<a href="@{ViewPost.page(recentlyFinishedPost.getId())}"> <img
			src="@{MainPage.getRandomPicture(recentlyFinishedPost.getId())}"
			alt="recently finished" />
		</a>
	</div>
</div>
#{/if}

<script type="text/javascript">
	effectsDemo2 = 'rain,stairs,fade';
	var demoSlider_2 = Sliderman.slider({
		container : 'slider_content',
		width : 946,
		height : 346,
		effects : effectsDemo2,
		display : {
			autoplay : 6000,
			loading : {
				background : '#000000',
				opacity : 0.5,
				image : '/public/images/sliderman/loading.gif'
			},
			buttons : {
				hide : true,
				opacity : 1,
				prev : {
					className : 'slider_prev',
					label : ''
				},
				next : {
					className : 'slider_next',
					label : ''
				}
			},
			description : {
				hide : true,
				background : '#000000',
				opacity : 0.4,
				height : 50,
				position : 'bottom'
			},
			navigation : {
				container : 'slider_navigation',
				label : '<img src="/public/images/sliderman/clear.gif" />'
			}
		}
	});
</script>