#{extends 'templates/main.html' /}

#{set title:'TourFootprint - About Us'/}

#{set 'moreStyles'}
	<link rel="stylesheet/less" type="text/css" href="@{'/public/stylesheets/company.less'}">
#{/set}

            <h1>Company information</h1>
            <h2>TourFootprint</h2>
            <div class="table">
              <div class="impressum-left">
                <p>
Street:<br>
Postal code:<br>
City:<br>
Country:<br>
</p>
                <p>
Phone:<br>
Fax:<br>
E-Mail:<br>
Internet:
</p>
                <p>
Registration court:<br>
Commercial register number:<br>
VAT No. according to § 27a<br>
of German value added tax act:
</p>
              </div>
              <div class="impressum-right">
                <p>
Boltzmannstraße 13<br>
85748<br>
Munich<br>
Germany
</p>
                <p>
+49 (0) 89 5555 5555 5555 - 5<br>
+49 (0) 89 5555 5555 5555 - 6<br>

 <a href="mailto:info@tourfootprint.com">info@tourfootprint.com</a><br>
<a href="http://www.tourfootprint.com">http://www.tourfootprint.com</a>
</p>
                <p>
Local court Munich<br>
HRB 555555<br>
<br>
DE555555555<br>
</p>
              </div>
              <div class="clear">
</div>
            </div>
            <p>
TourFootprint GmbH is represented by:<br>
<span class="indent">Managing director Mr. Tour Footprint</span>
</p>

            <h2>Copyright</h2>
            <p>
Copyright &copy; 2013 TourFootprint GmbH<br>
All rights reserved. All content on this website including but not limited to graphics, text, images, animations, videos etc. are the property of TourFootprint GmbH or its content suppliers and protected by German and international copyright laws and other protective law.
</p>
            <p>
The content of this website must not be offered to a third party, copied, distributed and changed for commercial purposes. Some content of the website might be protected by the copyright of third parties.
</p>
            <h2>Limitation of liability</h2>
            <p>
This website may contain links to other websites on the Internet that are owned or operated by third parties. TourFootprint GmbH has no control over the content of any such sites and cannot assume any responsibility for material posted on or published by third-party websites.
</p>