#{extends 'templates/main.html' /}

#{set title:'TourFootprint - Privacy Policy'/}

#{set 'moreStyles'}
	<link rel="stylesheet/less" type="text/css" href="@{'/public/stylesheets/company.less'}">
#{/set}

<h1>Privacy Policy</h1>
<p>
The use of this website as information source usually does not require any indication of personal data. As far as personal data (such as name, address or e-mail addresses) are collected on our sides, this is done, as far as possible, always on a voluntary basis. This data is not handed to third parties without your prior consent.
</p>
<p>
We point out that data on the internet (e.g. when communicating by e-mail) may include security gaps. A seamless protection of data against access by third parties is not possible.
</p>
<p>
The use of published contact data in this legal notice by third parties for sending unsolicited advertisements and information materials is hereby expressly not tolerated. The operators of these pages expressly reserve the rights to take legal steps in case of unsolicited promotional information, such as through spam e-mails.
</p>